function agregarProductoAFactura() {
    var codigo = document.getElementById('productoFacturaCodigo').value; // Asegúrate de usar el código
    var cantidad = parseInt(document.getElementById('cantidadFactura').value);
    var producto = JSON.parse(localStorage.getItem('Productos')).find(p => p.codigo === codigo);

    // Verificar si el producto está habilitado
    if (!producto.isActive) { // Asegúrate de usar el nombre correcto de la propiedad
        alert("Este producto está deshabilitado.");
        return;
    }

    var subtotal = producto.precio * cantidad;

    factura.push({
        codigo: producto.codigo,
        producto: producto.nombre,
        cantidad: cantidad,
        precioUnitario: producto.precio,
        subtotal: subtotal
    });

    mostrarDetallesFactura();
}
