<script>
    function eliminarVendedor() {
    var cedula = document.getElementById('buscarCedula').value;
    if (!cedula) {
        alert("Por favor ingrese la cédula del Vendedor que desea eliminar.");
        return;
    }

    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este Vendedor? Esta acción no se puede deshacer.");
    if (confirmacion) {
        var Vendedores = JSON.parse(localStorage.getItem('Vendedores')) || [];
        var historialVendedores = JSON.parse(localStorage.getItem('HistorialVendedores')) || [];
        var indice = Vendedores.findIndex(v => v.cedula === cedula);

        if (indice !== -1) {
            historialVendedores.push(Vendedores[indice]);  // Agrega el vendedor al historial antes de eliminarlo
            localStorage.setItem('HistorialVendedores', JSON.stringify(historialVendedores));

            Vendedores.splice(indice, 1);
            localStorage.setItem('Vendedores', JSON.stringify(Vendedores));
            alert('Vendedor eliminado, pero su historial ha sido guardado.');
            limpiarcampos();
        } else {
            alert('No se encontró un Vendedor con esa cédula.');
        }
    }
}

</script>
