productos.filter(producto => producto.nombre.toLowerCase().includes(texto))
    .forEach(producto => {
        var item = document.createElement('div');
        item.classList.add('list-group-item', 'list-group-item-action');
        item.textContent = producto.nombre + ' - Precio: ' + producto.precio;
        item.style.cursor = 'pointer';
        item.onclick = function() {
            document.getElementById('productoFactura').value = producto.nombre; // nombre del producto para mostrar
            document.getElementById('productoFacturaCodigo').value = producto.codigo; // campo oculto o alternativo para el código
            document.getElementById('listaSugerenciasProducto').innerHTML = ''; // Limpia las sugerencias
            document.getElementById('listaSugerenciasProducto').style.display = 'none'; // Oculta la lista de sugerencias
        };
        document.getElementById('listaSugerenciasProducto').appendChild(item);
    });
